﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="FUJI.Montebello.Site.Default" %>
<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <center>
        <div class="row text-center" >
            <h1>Montebello</h1>
            <p class="lead">Feed2Cloud 2017</p>
            <div class="row">
            <div class="col-md-12 text-center">
                <center>
                    <asp:Image runat="server" ImageUrl="~/Images/Fujifilm-sqr.png" Width="200px" />
                    <asp:Image runat="server" ImageUrl="~/Images/FEED2CJAV.png" Width="200px" />
                </center>
            </div>
        </div>
        </div>
    </center>
</asp:Content>