﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="frmDLReport2.aspx.cs" Inherits="FUJI.Montebello.Site.frmDLReport2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
       <div>
            <center>
                <asp:Label ID="lblParanetros" Text="" runat="server"></asp:Label>
                <asp:Label ID="lblTexto" runat="server" Text=""></asp:Label>
            </center>
        </div>
    </form>
</body>
</html>
