﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="frmUtileria.aspx.cs" Inherits="FUJI.Montebello.Site.frmUtileria" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label Text="" runat="server" ID="lblTextoError"></asp:Label>
    </div>
    </form>
</body>
</html>
